@model ListadoSuministradorViewModel

@{
    ViewData["Title"] = "Inicio - Portal Suministrador";
}

<div class="container">

    <h1>Portal Suministrador</h1>
    <a asp-area="Adquisicion" asp-action="Crear" asp-controller="Suministrador" class="btn btn-primary" style="float: right;">Registrar Nuevo Suministrador</a>
    <hr />
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Descripción</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>CIF</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var suministrador in Model.Suministradores)
            {
                <tr>
                    <td>@suministrador.RazonSocial</td>
                    <td>@suministrador.Descripcion</td>
                    <td>@suministrador.CorreoElectronico</td>
                    <td>@suministrador.TelefonoContacto</td>
                    <td>@suministrador.CIF</td>
                </tr>
            }
        </tbody>
    </table>
</div>